@import 'nib'

body
    padding-top 10px
    padding-bottom 30px
    background url(/images/background.png)

/* Custom container */
.container-narrow
    margin 0 auto
    max-width 700px
    padding 40px 20px
    background white
    border-radius 5px
    box-shadow 0 0 5px #aaa

.container-narrow > hr
    margin 30px 0


footer.article-footer
    margin-top 30px

table.related-links
    width 100%

    tr
        width 33%

article.post
    margin-bottom 50px

.form-search
    margin-bottom 0 auto 50px auto

/* Lightbox */
div#jkit-lightbox-bg {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background: #000;
}

div#jkit-lightbox-content {
    display: none;
    position: fixed;
    border: none;
    left: 10%;
    top: 100px;
    z-index: 10001;
    width: 80%;
    height: 80%;
    background: #fff;
    padding: 10px;
}

div#jkit-lightbox-title {
    display: none;
    position: fixed;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    left: 0px;
    top: 0px;
    z-index: 10002;
    text-align: left;
}

div#jkit-lightbox-nav {
    display: none;
    position: fixed;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    left: 0px;
    top: 0px;
    z-index: 10003;
    text-align: right;
    width: 50px;
    cursor: pointer;
    cursor: hand;
}

span#jkit-lightbox-nav-next {
    margin-right: 20px;
}

span#jkit-lightbox-nav-prev {
    margin-right: 10px;
}
